body{
  background:url(hex.png) #050505;
  background-size:50px;
  color:#efefef;
  font-family:"Franklin Gothic", sans-serif;
}

h1{ font-size:48px; line-height:172px; text-align:center; }

#services{
  position:absolute;
  top:0;
  right:0;
  padding:20px;
}

#footer{
  position:absolute;
  bottom:0;
  left: 0;
  padding:20px;
  width:100%;
}

#main{
  height:600px;
}

.full-height{
  height:100%;
}

#move-controls{
  min-width:440px;
}

#move-controls a, #look-controls a{
  padding: 50px;
  font-size:32px;
  text-shadow:2px 0px 2px #000;

}

a#move-forwards_left, a#move-forwards_right, a#move-backwards_left, a#move-backwards_right{
  padding:20px;
  margin:30px;
}

#move-forwards_left .glyphicon, #move-backwards_right .glyphicon{
  transform: rotate(-45deg);
}

#move-forwards_right .glyphicon, #move-backwards_left .glyphicon{
  transform: rotate(45deg);
}

#move-forwards, #look-up{
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

#move-backwards, #look-down{
  border-top-left-radius:0px;
  border-top-right-radius:0px;
}

#main-image{
  background-color:black;
  box-shadow:0px 0px 150px #666;
  border:10px solid #000;
}

#main-image img{
  width: 100%;
}

.spacer{
  width: 135px;
  height:135px;
  display:inline-block;
}

#look{
  border-radius:5px;
  background:url(pov.png);
}

#marker{
  width:6px;
  height:6px;
  background:#5cb85c;
  display:inline-block;
  position:absolute;
  left: 180px;
  top:180px;
  margin:-3px;
  border:1px solid white;
  box-shadow:0px 0px 5px #000;
  border-radius:6px;
}

#look-container{
  position:relative;
  width:360px;
  margin:auto;
}

#detected_output img{
  width:100%;
  border:1px solid #999;
}

.log{
  height: 500px;
  overflow-y: scroll;
  font-family: "Courier New", monospace;
  padding: 15px;
  box-shadow: 0px 0px 20px #333;
  color: #efefef;
  background: #333;
  font-size: 16px;
  border: 1px solid #999;
  line-height: 18px;
  cursor: default;
}

#log_full{
  height:auto;
  margin:30px 60px;
  overflow-y:auto;
}
